@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */

:root {
  --theme: hsl(118, 100%, 57%);
  --theme-bg: hsla(133, 100%, 53%, 0.25);
  --theme-bg-hover: hsla(105, 100%, 59%, 0.537);
  --theme-text: white;
  --theme-shadow: hsla(58, 100%, 50%, 0.917);

  --theme-dark: hsl(118, 100%, 57%);
  --theme-bg-dark: hsla(133, 100%, 53%, 0.25);
  --theme-bg-hover-dark: hsla(271, 100%, 50%, 0.4);
  --theme-text-dark: white;
  --theme-shadow-dark: hsla(116, 100%, 50%, 0.25);
}



* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

html {
  block-size: 100%;
  background: conic-gradient(at -15% 50%, rgb(255, 220, 47), rgb(0, 255, 4));
}

body {
  display: flex;
  flex-direction: column;

  min-block-size: 100%;
  font-family: system-ui, sans-serif;

  display: grid;
  place-content: center;

  perspective: 40vw;
}
